DATABASE_URL=postgresql+psycopg://postgres:xyz@localhost:5432/postgres
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60  

# if you want to enable syncing between fastapi and postman collection
POSTMAN_API_KEY=
POSTMAN_COLLECTION_ID=